@use 'mixins/mixins.scss' as *;

@include b('tree') {
  display: inline-block;
  width: 100%;
}

@include b('tree-node') {
  padding: 5px 0;
  font-size: 16px;
  &:hover {
    background-color: rgba(24, 160, 88, 0.15);
  }
  @include e('expand-icon') {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0);
    transition: transform 0.1s ease-in;
    cursor: pointer;
    &.expanded {
      transform: rotate(90deg);
    }
    &.is-leaf {
      fill: transparent;
      cursor: default;
    }
  }
  @include when(selected) {
    background-color: aqua;
  }
}
